<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DOIT"
        tools:targetApi="31">
        <activity
            android:name=".ProfileActivitys"
            android:exported="false" />
        <activity
            android:name=".NotificationActivitys"
            android:exported="false" />
        <activity
            android:name=".NotificationAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Notification"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ViewAssignmentsActivitys"
            android:exported="false" />
        <activity
            android:name=".AssignmentAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Assignment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".DatabaseHelper"
            android:exported="false"
            tools:ignore="Instantiatable" /> <!-- ✅ Correct placement of API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_UneKDhI8zVUIm-B2xX8a-b3YPch9wXw" />

        <activity
            android:name=".MapActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".ProfileActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".StatusActivity"
            android:exported="false" />
        <activity
            android:name=".models.RequestModel"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".UploadAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Register2Activity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>